<div class="modal-body">
	<form name="form">
		<div class="form-group" ng-class="{'has-error': form.password.$invalid}">
			<label class="control-label">Password:</label>
			<input class="form-control" type="text" name="password" ng-model="newPassword" required>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click="$close(newPassword)" ng-disabled="form.$invalid">Aceptar</button>
	<button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
</div>