<div class="modal-header">
	<h2>{{action}}</h2>
</div>
<div class="modal-body row">
	<form role="form" name="form" class="col-xs-12 form-horizontal">
		<div class="form-group" ng-class="{'has-error': form.numeroDeCheque.$invalid}">
			<label class="control-label col-sm-3">Numero de cheque</label>
			<div class="col-sm-7">
				<input name="numeroDeCheque" type="text" class="form-control" ng-model="cheque.numero" required/>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.numeroDeFactura.$invalid}">
			<label class="control-label col-sm-3">Numero de factura</label>
			<div class="col-sm-7">
				<input name="numeroDeFactura" type="text" class="form-control" ng-model="cheque.numeroFactura" required/>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.fechaDePago.$invalid}">
			<label class="control-label col-sm-3">Fecha de pago</label>
			<div class="col-sm-7">
				<input name="fechaDePago" class="form-control" ng-model="cheque.fechaPago" type="text" datepicker-popup="dd / MMMM / yyyy" is-open="settings.calOpened" show-button-bar="false" readonly ng-click="settings.calOpened = !settings.CalOpened" required>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.montoDeCheque.$invalid}">
			<label class="control-label col-sm-3">Monto de cheque</label>
			<div class="col-sm-7">
				<input name="montoDeCheque" type="number" step="any" min="1" class="form-control" ng-model="cheque.monto" required/>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error': form.pagueseA.$invalid}">
			<label class="control-label col-sm-3">Paguese a:</label>
			<div class="col-sm-7">
				<input name="pagueseA" type="text" class="form-control" ng-model="cheque.proveedor" typeahead="proveedor.nombre for proveedor in proveedores | filter:$viewValue | limitTo:5" required/>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-disabled="form.$invalid" ng-click="guardar()">Guardar</button>
	<button class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
</div>