<div class="col-xs-12">
	<div class="col-sm-8">
		<div class="col-sm-12">
			<div class="form-inline">
				<div class="form-group">
					<label class="control-label">Desde el dia 1 de</label>
					<select class="form-control" ng-model="busqueda.mes" 
						ng-options="mes for mes in meses">
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Del año</label>
					<select class="form-control" ng-model="year">
						<option value="2015">2015</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
					</select>
				</div>
			</div>
		</div>
		<hr>
		<div class="col-sm-12 form-inline">
			<div class="form-group">
				<label class="control-label">Ordenar por:</label>
				<select class="form-control" ng-model="busqueda.filtro">
					<option value="pagado">No Pagado</option>
					<option value="numero">Numero De Cheque</option>
					<option value="fechaPago">Fecha De Pago</option>
					<option value="proveedor">Alfabetico</option>
				</select>
				Orden inverso <input type="checkbox" ng-model="busqueda.inverso">
			</div>
		</div>
		<hr>
		<hr>
		<div class="col-sm-12 form-inline">
			<div class="form-group">
				<label class="control-label">Monto:</label>
				<input type="number" min=0 step="1" class="form-control" ng-model="monto">
			</div>	
			<br>
			<label class="control-label">vencimientos de hoy: 
				<span ng-class="{'text-success': monto>vencimientoH, 'text-danger': !monto>vencimientoH}">{{vencimientoH}}</span>
			</label>
			&nbsp;
			<label class="control-label">vencimientos de mañana: 
				<span ng-class="{'text-success': monto>vencimientoM, 'text-danger': !monto>vencimientoM}">{{vencimientoM}}</span>
			</label>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
				<input type="text" class="form-control" placeholder="Buscar.." typeahead="proveedor.nombre for proveedor in proveedores" ng-model="busqueda.proveedor">
			</div>
		</div>
	</div>
	<table class="table col-sm-12">
		<thead>
			<tr>
				<th class="text-center">Numero de cheque</th>
				<th class="text-center">Paguese a</th>
				<th class="text-center">Numero de factura</th>
				<th class="text-center">Monto</th>
				<th class="text-center">Fecha de pago</th>
				<th class="text-center">Pagado?</th>
				<th class="text-center">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cheque in cheques" class="{{sePagaHoy(cheque)}}" ng-class="{'pagado': cheque.pagado}">
				<td class="text-center">{{cheque.numero}}</td>
				<td class="text-center">{{cheque.proveedor}}</td>
				<td class="text-center">{{cheque.numeroFactura}}</td>
				<td class="text-center">${{cheque.monto | currency:''}}</td>
				<td class="text-center">{{cheque.fechaPago | date: 'mediumDate'}}</td>
				<td class="text-center">
					<toggle-switch ng-model="cheque.pagado"></toggle-switch>
				</td>
				<td class="text-center">
					<button class="btn btn-primary btn-sm" ui-sref="user.editar({id:cheque._id})"><i class="fa fa-pencil"></i></button>
					<button class="btn btn-danger btn-sm" ng-click="borrar(cheque)"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>