<template name="chequesList">
	<div class="cheques">
		<label for="ordenas">Ordenar por:</label>
		<select name="ordenar" id="ordenar">
			<option value="">No pagados</option>
			<option value="">Numero De Cheque</option>
			<option value="">Fecha De Pago</option>
			<option value="">Fecha De Registro</option>
		</select>
		<input type="checkbox" id="invertir">Invertir?
		<table class="table">
			<tbody>
			<tr>
				<th>Numero De Cheque</th>
				<th>Paguese A:</th>
				<th>Monto</th>
				<th>Fecha de Pago</th>
				<th>Pagado?</th>
				<th>Eliminar</th>
			</tr>
			{{#each cheques}}
				{{> chequeItem}}
			{{/each}}
			</tbody>
		</table>
	</div>
</template>