<template name="chequeItem">
	<tr class="cheque {{isPagado}} {{pagarseHoy}}">
		<a href="{{pathFor 'chequeEditar'}}"><td>{{numero}}</td></a>
		<td>{{proveedor}}</td>
		<td class="{{pagoVencido}}">{{monto}}</td>
		<td>{{fechaPagoFormateada}}</td>
		{{#if pagado}}
		<td><button type="submit" class="pagado btn btn-success">Si</button></td>
		{{else}}
		<td><button type="submit" class="pagado btn btn-danger">No</button></td>
		{{/if}}
		<td><button type="submit" class="eliminar btn btn-danger">X</button></td>
	</tr>
</template>