<template name="chequesList">
	<div class="cheques">
		<form class="form-inline">
			<label for="ordenar">Ordenar por:</label>
			<select name="ordenar" id="ordenar">
				<option value="">No pagados</option>
				<option value="">Numero De Cheque</option>
				<option value="">Fecha De Pago</option>
				<option value="">Alfabetico</option>
			</select>
			<label for="invertir">Invertir?</label>
			<input type="checkbox" id="invertir">
			<span>|</span>
			<input type="text" id="buscar" placeholder="buscar...">
		</form>
		<label for="monto">Monto:</label>
		<input type="number" step="any" min="0" value="0" id="monto">
		<label for="acubrir">Vencimientos al dia de hoy:</label>
		<span id="acubrir">0</span>
		<label for="acubrirm">Vencimientos al dia de mañana:</label>
		<span id="acubrirm">0</span>
		<table class="table">
			<tbody>
			<tr>
				<th>Numero De Cheque</th>
				<th>Paguese A:</th>
				<th>Monto</th>
				<th>Fecha de Pago</th>
				<th>Pagado?</th>
				<th>Eliminar</th>
			</tr>
			{{#each cheques}}
				{{> chequeItem}}
			{{/each}}
			</tbody>
		</table>
	</div>
</template>