<div class="col-xs-12">	
	<table class="table col-sm-12">
		<thead>
			<tr>
				<th class="text-center">Username</th>
				<th class="text-center">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td class="text-center">{{user.username}}</td>
				<td class="text-center">
					<button class="btn btn-primary btn-sm" ng-click="cambiarPass(user)"><i class="fa fa-lock"></i></button>
					<button class="btn btn-danger btn-sm" ng-click="borrar(user)"><i class="fa fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>