.i-do-something{
  cursor: pointer;
}

.pagado{
	background-color: #A1EC80 !important;
}

.no-pagado{
	background-color: #EACC49;
}

.hoy{
	background-color: #EF8C8C !important;
}

.badge-fix{
	bottom: 5px;
	position: fixed;
	left: 5px;
}

.badge-fix span{
	display: inline-block;
}

#invertir{
	position: relative;
	top: 6px;
	width: 20px;
	height: 20px;
}